<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">    
    <title>Contractor Portal</title>
</head>
<body>  
    <h1>Contractor Portal</h1>  
    <h2>Station HC001</h2>  
    <h2>Work Order Number</h2>
    Entry Exit Procedures
</body>
</html>